binary/*
.env
### Ansible ###
*.retry

### Packer ###
packer_cache/
crash.log
*.pkrvars.hcl
*.box
*.iso
output-*/

### Terraform ###
**/.terraform/*
*.lock.hcl
*.tfstate
*.tfstate.*
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.log
*.exe

.vscode/*
