binary/*
.env
### Ansible ###
*.retry

### Packer ###
packer_cache/
crash.log
*.pkrvars.hcl
*.box
*.iso
output-*/

### Terraform ###
**/.terraform/*
*.lock.hcl
*.tfstate
*.tfstate.*
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.log
*.exe

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
.vscode/settings.json